*{
    margin:0;
    padding:0;
    color: white;
}
body{
    font-family: Arial, Georgia;
    height:100%;
    background-color: black;
}
header{
    width: 100vw;
    height:9vh;
    background:hsl(0, 0%, 0%);
    border-bottom: 2px solid hsl(118, 95%, 24%);
    padding-bottom: 1%;
}
#logoutBtn{
    float:right;
    width:8vw;
    height:5vh;
    border-radius: 12px;
    margin-right:3.5%;
    margin-top:1%;
    padding-top: 2vh;
    text-align: center;
    font-size:1.3rem;
    text-shadow:1px 2px 1px black;
    color:white;
    background:hsl(118, 95%, 24%);
    border: 1px solid black;
}
#logoutBtn:hover{
    background:hsl(118, 35%, 41%);
    box-shadow:0 0 2px 1.5px rgb(214, 233, 240);
}

#databaseBtn{
    float:right;
    width:8vw;
    height:5vh;
    border-radius: 12px;
    margin-right:3.5%;
    margin-top:1%;
    padding-top: 2vh;
    text-align: center;
    font-size:1.3rem;
    text-shadow:1px 2px 1px black;
    color:white;
    background:hsl(118, 95%, 24%);
    border: 1px solid black;
}
#databaseBtn:hover{
    background:hsl(118, 35%, 41%);
    box-shadow:0 0 2px 1.5px rgb(214, 233, 240);
}


#nav{
    width: 10%;
    height: 100%;
    background: black;
    color:white;
    float: left;
    border-right:2px solid hsl(118, 95%, 24%);
    padding-bottom:113.5%;
}
.sortobject{
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    width: 100%;
    height: 10vh;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background-color:rgb(15, 15, 15);
    border-bottom:1px solid hsl(118, 95%, 24%);
    border-top:1px solid hsl(118, 95%, 24%);

}
.sortobject:hover{
    box-shadow:0 0 1vh 0.5vh hsl(118, 95%, 35%);
    cursor: pointer;
    text-shadow: 0 0 10px white;
}
.sortobject:last-child{
   
}
#nav>a{
    text-decoration: none;
    font-size:x-large;
    color:white;
    text-shadow:1px 2px 1px black;
    text-align:center;
}

/*Content*/

#content{
    float: left;
    width: 70%;
    height: 100%;
    display: inline-block;
    overflow: scroll;
    background-color: black;
}

.produkter{
    width: 12vw;
    height: 22vh;
    display: inline-block;
    margin:4vh;
    overflow: hidden;
    position: relative;;
    border: 2px solid hsl(118, 95%, 24%);
    box-shadow:0px 0px 1px 0.4px white;
}
.produkter:hover{
    text-shadow: 0.5px 0.5px 1px hsl(118, 95%, 24%);
}
.itemImage{
    width: 100%;
    height: 100%;
}
.itemImage:hover{
    box-shadow:0 0 1vh 0.5vh black;
    cursor: pointer;
}

.container{
    background-color: black;
    position: absolute;
    text-align: center;
    right: 50%;
    left: 50%;
    top: 110%;
    transform: translate(-50%, -50%);
    padding: 10px 10px;
    width: 100%;
    font-size: 60%;
    border-top: 2px solid hsl(118, 95%, 24%);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    opacity: 0;
    color: white;

}
.produkter:hover .container{
    animation: mymove 0.5s forwards;
}

@keyframes mymove {
    from {top: 110%; opacity:0}
    to {top: 78%; opacity:100}
  }

  /*Kund Vagn*/
#kundVagn{
    float:left;
    width: 19%;
    height: 100%;
    background:black;
    position: relative;
    padding-bottom: 2%;
    border:2px solid hsl(118, 95%, 24%);
    margin-top: 1%;
    color: white;
    text-shadow:0.5px 0.5px greenyellow;
}
#kundVagn>h2{
    font-size:180%;
    margin-bottom:5%;
    margin-top:1%;
    margin-left:5%;
}
#kundVagn>h3{
    font-size:180%;
    margin-bottom:5%;
    margin-top:1%;
    margin-left:5%;
}
#kundVagn>label{
    margin-left:10%;
}
.srvinput{
    width:80%;
    margin-left:10%;
    margin-right:10%;
    height:3vh;
    border:2px solid hsl(118, 95%, 24%);
}
.numinput{
    width:80%;
    margin-left:10%;
    margin-right:10%;
    height:3vh;
    border:2px solid hsl(118, 95%, 24%);
}
#imageinput{
     width:80%;
    margin-left:10%;
    margin-right:10%;
}
.dateinput{
    width:80%;
    margin-left:10%;
    margin-right:10%;
    height:3vh;
    border:2px solid hsl(118, 95%, 24%);
}
#changebutton{
    width:80%;
    margin-left:10%;
    margin-right:10%;
    height:3vh;
    border:2px solid hsl(118, 95%, 24%);
    margin-top:1%;  
}
.categoryinput{
    width:80%;
    margin-left:10%;
    margin-right:10%;
    height:3vh;
    border:2px solid hsl(118, 95%, 24%);
}
#buyBtn:hover{
    background:  hsl(0, 0%,40%);
}

#buyBtn{
    width: 5vw;
    height: 7vh;
    background: hsl(0, 0%, 50%);
    right: 0;
    bottom: 0;
    position: absolute;
}


footer{
    width: 100vw;
    margin-top:-4px;
    height: 15vh;
    background:hsl(0, 0%, 0%);
    float:left;
    border-top:2px solid hsl(118, 95%, 24%);
}
header>h1{
    float:left;
    margin-top:0.5%;
    margin-left:4%;
    border:1vh hsl(118, 95%, 24%) double;
    border-radius: 10px;
    padding-left:1%;
    padding-right:1%;  
    color:white; 
    font-size:5vh;
    text-shadow:0px 2px 3px black;
}
header>a{
    color: black;
}

span{
    font-size:x-large;
    background:rgba(0, 0, 0, 0);
}
.productname{
    background:rgba(0, 0, 0, 0);
}
.valdProduktImage{
    width: 30%;
    height: 100%;
    display: inline-block;
    float: left;
}
.valdaProdukter{
    width: 100%;
    height: 13%;
    margin-top: 10px;
    display: inline-block;
    position: relative;
}
#submitbutton{
    width:80%;
    margin-left:10%;
    margin-right:10%;
    height:3vh;
    border:2px solid black;
    margin-top:1%;
}
#submitbutton:hover{
box-shadow: 0 0 2px 1.5px black;
}