*{
    margin:0;
    padding:0;
}
header{
    width: 100vw;
    height:10vh;
    background-color:hsl(0, 0%, 90%);
}
#loginBtn{
    width: 5vw;
    height: 8vh;
    margin-top:1vh;
    margin-right:1vw;
}

#nav{
    width: 15vw;
    height: 80vh;
    background-color: hsl(0, 0%, 95%);
    float: left;
}


/*Content*/

#content{
    width: 70vw;
    height: 80vh;
    display: inline-block;
    overflow: scroll;
}

.produkter{
    width: 18vw;
    height: 32vh;
    background-color:hsl(0, 0%, 84%);
    display: inline-block;
    margin:4vh;
}
.produkter:hover{
    box-shadow:0 0 1vh 0.5vh black;
    }

#kundVagn{
    float:right;
    width: 15vw;
    height: 80vh;
    background-color: hsl(0, 0%, 95%);
    position: relative;
}
#buyBtn:hover{
    background-color:  hsl(0, 0%,40%);
}

#buyBtn{
    width: 5vw;
    height: 7vh;
    background-color: hsl(0, 0%, 50%);
    right: 0;
    bottom: 0;
    position: absolute;
}


footer{
    width: 100vw;
    height: 15vh;
    background-color:hsl(0, 0%, 75%);
    float:left;

}
header>h1{
    float:left;
    margin-top:1.5%;
    margin-left:10%;
    border:0.5vh black double;
    padding-left:1%;
    padding-right:1%;  
    color:white; 
    text-shadow:0px 2px 3px black;
}
#loginBtn{
    float:right;
    width:4.5vw;
    height:6vh;
    border-radius: 10px;
    margin-right:5%;
    margin-top:0.5%;
    padding-top: 2vh;
    font-family: Arial;
    text-align: center;
    font-size:larger;
    text-shadow:1px 2px 1px black;
    color:white;
    background-color:hsl(0, 0%, 75%);
}

header>a{
    color: black;
}
.sortobject{
    width:15vw;
    height:8vh;
    margin-top:4%;
    background-color:hsl(0, 0%, 55%);
}
.sortobject:hover{
    box-shadow:0 0 1vh 0.5vh black;
}
#nav>a{
    text-decoration: none;
    font-size:x-large;
    color:white;
    text-shadow:1px 2px 1px black;
    text-align:center;
}