*{
    margin:0;
    padding:0;
}
header{
    width: 100vw;
    height:10vh;
    background-color:hsl(0, 0%, 90%);
}

#nav{
    width: 15vw;
    height: 80vh;
    background-color: hsl(0, 0%, 95%);
    float: left;
}
header>h1{
    float:left;
    display:inline-block;
    margin-top:0.5%;
    margin-left:10%;
}
header>button{
    float:right;
    display:inline-block;
    margin-top:1%;
    width:5vw;
    height:4vh;
    margin-right:10%;
    font-size:larger;
}