*{
    margin:0;
    padding:0;
}
header{
    width: 100vw;
    height:10vh;
    background-color:hsl(0, 0%, 90%);
}
#loginBtn{
    width: 5vw;
    height: 8vh;
    float:right;
    margin-top:1vh;
    margin-right:1vw;
}

#nav{
    width: 15vw;
    height: 80vh;
    background-color: hsl(0, 0%, 95%);
    float: left;
}


/*Content*/
.produkter{
    width: 24vw;
    height: 32vh;
    background-color:hsl(0, 0%, 90%);
    float:left;
    margin:4vh;

}



footer{
    width: 100vw;
    height: 15vh;
    background-color:hsl(0, 0%, 75%);
    float:left;

}
header>h1{
    float:left;
    margin-top:1.5%;
    margin-left:10%;
}
header>button{
    float:right;
    width:4.5vw;
    height:8vh;
    margin-right:5%;
    margin-top:0.5%;
    font-size:larger;

}
.sortobject{
    width:15vw;
    height:8vh;
    margin-top:2%;
    background-color:hsl(0, 0%, 35%);
}