<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Database</title>
        <link rel="stylesheet" href="/static/style/db.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="/static/script/cookies.js"></script>
        <script src="/static/script/api.js"></script>
        <script src="/static/script/verify_login.js"></script>
        <script src="/static/script/db.js"></script>
    </head>
    <body>

        <header>
            <h1>Ika</h1> <a href="/logout"><div id="logoutBtn" class="">Log out</div></a>
        </header>

        <nav id="nav"> 
            <div class="sortobject" category="All"></div>
        </nav>
        <div id="content">
        </div>

        
        <div id="kundVagn"></div>
        <footer></footer>
    </body>
</html>