<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Database</title>
        <link rel="stylesheet" href="/static/style/db.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="/static/script/cookies.js"></script>
        <script src="/static/script/api.js"></script>
        <script src="/static/script/verify_login.js"></script>
        <script src="/static/script/db.js"></script>
    </head>
    <body>
        <header>
            <h1>Ika - Databas</h1> 
            <a href="/logout">
                <div id="logoutBtn" class="">Log out</div>
            </a>
            <a href="/kassa">
                <div id="databaseBtn">Kassa</div>
            </a>
        </header>

        <nav id="nav"> 
            <div class="sortobject" category="All">
                <h3>All</h3>
            </div>
            <div class="sortobject" category="BoughtMonth">
                <h3>Bought Month</h3>
            </div>
        </nav>

        <div id="content"></div>
        
        <div id="kundVagn">
            <h2>Add more items</h2>
            <label for="displayinput">Display name:</label>
            <br>
            <input name="displayinput" id="displayinput" class="srvinput" type="text">
            <br>
            <label for="categoryinput">Category:</label>
            <br>
            <select name="categoryinput" id="categoryinput" class="categoryinput">
           <option value="Snacks">Snacks</option>
           <option value="Drinks">Drinks</option>
           <option value="Food">Food</option>
           <option value="Others">Others</option>
            </select>
            <br>
            <label for="priceinput">Price:</label>
            <br>
            <input name="priceinput" id="priceinput" class="numinput" type="number">
            <br>
            <label for="imageinput">Image path:</label>
            <br>
            <input name="imageinput" id="imageinput" class="fileinput" type="file" accept="image/*" onchange="imageUploaded()">
            <br>
            <label for="bbinput">Best before date:</label>
            <br>
            <input name="bbinput" id="bbinput" class="dateinput" type="date">
            <br>
            <label for="productidinput">Product id:</label>
            <br>
            <input name="productidinput" id="productidinput" class="srvinput" type="text">
            <br>
            <label for="amountinput">Amount:</label>
            <br>
            <input name="amountinput" id="amountinput" class="numinput" type="number">
            <input type="submit" id="submitbutton" value="Submit">
            <br><br>
            <h3>Change item stock</h3>
            <label for="prodidadd">Product id:</label>
            <br>
            <input type="text" id="prodidadd" name="prodidadd" class="srvinput">
            <br>
            <label for="changeby">Change by:</label>
            <br>
            <input type="number" id="changeby" name="changeby" class="srvinput">
            <br>
            <input type="submit" id="changebutton" value="Submit">
        </div>

        <footer></footer>
    </body>
</html>