<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Kassa</title>
        <link rel="stylesheet" href="/static/style/kassa.css">
        <script src="/static/script/kassa.js"></script>
    </head>
    <body>

        <header>
        <h1>Ika</h1> <button>Login</button>
        </header>

        <nav id="nav"> 
         <a href=""><div class="sortobject"></div></a>
         <a href=""><div class="sortobject"></div></a>
         <a href=""><div class="sortobject"></div></a>
         <a href=""><div class="sortobject"></div></a>
        </nav>
        <div id="content">
            <a href=""><div class="produkter"></div></a>

            <a href=""><div class="produkter"></div></a>
    
            <a href=""><div class="produkter"></div></a>
    
            <a href=""><div class="produkter"></div></a>
    
            <a href=""><div class="produkter"></div></a>
    
            <a href=""><div class="produkter"></div></a>
            
            <a href=""><div class="produkter"></div></a>
    
            <a href=""><div class="produkter"></div></a>
    
            <a href=""><div class="produkter"></div></a>
            
            <a href=""><div class="produkter"></div></a>
    
            <a href=""><div class="produkter"></div></a>
    
            <a href=""><div class="produkter"></div></a>
        </div>

        
        <div id="kundVagn">
            <a href="">
                <div id="buyBtn"></div>
            </a>
        </div>
        
        <footer></footer>
    </body>
</html>