<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Kassa</title>
        <link rel="stylesheet" href="/static/style/kassa.css">
        <script src="/static/script/kassa.js"></script>
    </head>
    <body>

        <header>
        <h1>Ica</h1> <button>Login</button>
        </header>

        <nav id="nav"> 
         <div class="sortobject"></div>
         <div class="sortobject"></div>
         <div class="sortobject"></div>
         <div class="sortobject"></div>
        </nav>
        
        <footer></footer>
    </body>
</html>