<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Kassa</title>
        <link rel="stylesheet" href="/static/style/kassa.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="/static/script/kassa.js"></script>
    </head>
    <body>

        <header>
        <h1>Ika</h1> <a href="login"><div id="loginBtn" class="">Login</div></a>
        </header>

        <nav id="nav"> 
            <a href=""><div class="sortobject">Drinks</div></a>
            <a href=""><div class="sortobject">Snacks</div></a>
            <a href=""><div class="sortobject">Food</div></a>
            <a href=""><div class="sortobject">Others</div></a>
        </nav>

        <div id="content" class="">

            <div class="produkter"></div>

            <div class="produkter"></div>
    
            <div class="produkter"></div>
    
            <div class="produkter"></div>
    
            <div class="produkter"></div>
    
            <div class="produkter"></div>
            
        </div>

        
        <div id="kundVagn">
            <a href="">
                <div id="buyBtn"></div>
            </a>
        </div>
        
        <footer></footer>
    </body>
</html>