<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/style/login.css">
</head>
<body>
    <div class="form">
        <label class="form" for="form">Login</label><br>
        <div class="form-content">
            <label class="form-content" for="name">Användar Namn</label><br>
            <input class="form-content" type="text" name="namn"><br>
            <label class="form-content" for="Lösenord">Lösenord</label><br>
            <input class="form-content" type="password" name="pwd"><br>
            <input class="form-content" type="submit" value="Logga in">
        </div>
        <br><br>
        <a class="knapp" href="kassa.html">Tillbaka till startsida</a>
    </div>
</body>
</html>