<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Additional content - jquery and css -->
    <link rel="stylesheet" href="/static/style/login.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/static/script/cookies.js"></script>
    <script src="/static/script/login.js"></script>
</head>
<body>
    <!-- Main div -->
    <div class="form">
        <label>Login</label>
        <br>
        <div class="form-content">
            <label class="form-content" for="username">Användar Namn</label><br>
            <input class="form-content" id="username" type="text" name="username"><br>
            
            <label class="form-content" for="password">Lösenord</label><br>
            <input class="form-content" id="password" type="password" name="password"><br>
            
            <input class="form-content" type="submit" value="Logga in" onclick="login()">
        </div>
    </div>
    
</body>
</html>